* {
    box-sizing: border-box;
}

html {
    font-size: 64.5%;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", "sans-serif";
}

a {
    text-decoration: none;
}

/* Common */
.main-content {
    padding: 0px 135px;
}
